body {
  background-color: black;
}

.wrapper {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  background-color: white;
}
@media (max-width: 375px) {
  .wrapper {
    max-width: 375px;
  }
}

.firstMain {
  height: 790px;
  width: 100%;
  background: #131313;
  background-size: cover;
}
@media (max-width: 375px) {
  .firstMain {
    height: 500px;
    width: 100%;
    background: #131313;
    background-size: cover;
  }
}

header {
  height: 83px;
  width: 100%;
  background: #131313;
  background-size: cover;
  display: block;
  justify-content: top;
}
@media (max-width: 375px) {
  header {
    height: 50px;
    width: 100%;
    background: #131313;
    background-size: cover;
  }
}

.flex {
  display: flex;
}

.leftblock {
  height: 707px;
  width: 5.7%;
  background: #131313;
  background-size: cover;
  display: block;
  justify-content: bottom;
  text-align: left;
}
@media (max-width: 375px) {
  .leftblock {
    display: none;
  }
}

.rightblock {
  height: 707px;
  width: 94.3%;
  background: url(./assets/images/BG-1.png);
  background-size: cover;
  display: block;
  justify-content: bottom;
  text-align: right;
}
@media (max-width: 375px) {
  .rightblock {
    height: 470px;
    width: 100%;
    background: url(./assets/images/BG-1.png);
    background-size: cover;
  }
}

.secondMain {
  height: 1074px;
  width: 100%;
  background: #131313;
  background-size: cover;
}
@media (max-width: 375px) {
  .secondMain {
    height: 1558px;
    width: 100%;
    background: #131313;
    background-size: cover;
  }
}

.thirdMain {
  height: 2576px;
  width: 100%;
  background: white;
  background-size: cover;
  position: relative;
  bottom: 4%;
}
@media (max-width: 375px) {
  .thirdMain {
    height: 2008px;
    width: 100%;
    background: white;
    background-size: cover;
  }
}

.fourthMain {
  height: 864px;
  width: 100%;
  background: url(./assets/images/BG-4.png);
  background-size: cover;
  position: relative;
  bottom: 5%;
}
@media (max-width: 375px) {
  .fourthMain {
    height: 0px;
    width: 100%;
    background: white;
    background-size: cover;
  }
}

.fifthMain {
  height: 620px;
  width: 100%;
  background: white;
  background-size: cover;
}
@media (max-width: 375px) {
  .fifthMain {
    height: 0px;
    width: 100%;
    background: white;
    background-size: cover;
  }
}

.sixthMain {
  height: 1615.53px;
  width: 100%;
  background: #131313;
  background-size: cover;
}
@media (max-width: 375px) {
  .sixthMain {
    height: 4635px;
    width: 100%;
    background: #131313;
    background-size: cover;
  }
}

.seventhMain {
  height: 953.9px;
  width: 100%;
  background: url(./assets/images/BG-6.png);
  background-size: cover;
  margin-top: 1524.47px;
}
@media (max-width: 375px) {
  .seventhMain {
    height: 0px;
    width: 100%;
    background: #131313;
    background-size: cover;
    margin-top: 0px;
  }
}

footer {
  height: 133px;
  width: 100%;
  background: #131313;
  background-size: cover;
}
@media (max-width: 375px) {
  footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
